.itemMovie {
    border: 2px solid #424141;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  }
  .title {
    text-align: center;
    width: 350px;
    height: 100%;
  }
  img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }